openapi: 3.0.0
info:
  title: Ms Example API
  description: Description
  version: 1.0.0
  termsOfService: "http://swagger.io/terms/"
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"

servers:
  - url: https://api-portoseg.portoseguro.com.br/
    description: Produção
  - url: https://apihlg-portoseg.portoseguro.com.br/
    description: Homologação
  - url: https://apidev-portoseg.portoseguro.com.br/
    description: Desenvolvimento

paths:
  /v1/users:
    get:
      summary: Returns a list of users.
      description: Optional extended description in CommonMark or HTML.
      responses:
        '200': # status code
          description: A JSON array of user names
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string

security:
  - BearerToken: [ ]

components:
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer

  schemas:
    BadRequestResponse:
      type: object
      properties:
        code:
          type: string
          description: "Código do erro (formato: 3 dígitos com o http status + 3 dígitos com o código do erro)"
          example: "400.001"
        message:
          type: string
          description: Mensagem de erro
    UnprocessableEntityResponse:
      type: object
      properties:
        code:
          type: string
          description: "Código do erro (formato: 3 dígitos com o http status + 3 dígitos com o código do erro)"
          example: "422.001"
        message:
          type: string
          description: Mensagem de erro